@import url(./reset.css);

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ff0000;
  background: -webkit-linear-gradient(#ff0000 20%, #dd8282 100%);
  background: linear-gradient(#ff0000 20%, #dd8282 100%);
  user-select: none;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 30px;
  background-position: center;
  background-size: cover;
  padding: 60px 30px;
  background-image: url(../assets/Captura\ de\ tela\ 2024-10-19\ 200837.png);
}

.container h2 {
  font-size: 6.4rem;
  font-weight: 700;
  color: #ff0000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding: 10px 20px;
  text-shadow: #ff0000 0 0 30px;
}

.game {
  width: 50em;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 2.4em;
  height: 3.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #fdeff9;
  background: linear-gradient(#ff0000 20%, #dd8282 100%);
  font-size: 4.5rem;
  opacity: 0.9;

  transform: rotateY(180deg);
  transition: transform 0.5s;
  cursor: pointer;
}

.item::after {
  content: '';
  position: absolute;
  inset: 0;
  transition: 0.5s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  background-color: #ff0000;
  background: linear-gradient(#ff0000 20%, #dd8282 100%);
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}

.reset {
  padding: 15px 20px;
  margin: 0 auto 30px;
  width: 100%;
  color: #fff;
  background: #ff0000;
  border: none;
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
  opacity: 0.9;
}

.reset:hover {
  opacity: 1;
}

.reset:focus {
  color: #000;
  background-color: #03bcdc;
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    padding: 10px 20px;
  }

  .container h2 {
    font-size: 4.5rem;
  }

  .game {
    width: 40em;
    height: 65%;
  }

  .item {
    width: 2.5em;
    height: 3.2em;
    font-size: 3rem;
  }

  .reset {
    font-size: 2rem;
  }
}

/* mobile */
@media (max-width: 425px) {
  .container {
    padding: 0px 20px;
  }

  .container h2 {
    font-size: 3.5rem;
  }

  .item {
    width: 3em;
    height: 4em;
    font-size: 2.5rem;
  }

  .reset {
    font-size: 1.5rem;
  }
}
